@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,600,900|Roboto&display=swap');
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Lora', serif; 
$third-font: 'Roboto', sans-serif;

$color-1: #16052A; 
$color-2: #230F43;
$color-3: #0E0043; 
$color-4: #0E2760; 
$color-5: #FCF1CC; 