@import url('https://fonts.googleapis.com/css?family=Lora:400|Poppins:300,600,900|Roboto&display=swap');
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Lora', serif; 
$third-font: 'Roboto', sans-serif;

$color-1: #29324a; 
$color-2: #50618f;//free color
$color-3: #332b52; 
$color-4: #354059; 
$color-5: #FCF1CC; 