// color palette - these colors will be the color swatches of the Colors section

$color-1: #16052A; // dark, almost black, purple
$color-2: #230F43; // dark purple
$color-3: #0E0043; // dark navy blue
$color-4: #0E2760; // sapphire blue
$color-5: #F9E190; // creamy yellow
